/*  =====FONTS========


.quicksand-<uniquifier> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
}
*/

/*  ==============HTML================ */

html{

  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{

  box-sizing: inherit;
}

.wrapper {
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}


/*  ==============BASE================ */



body{

  font-family: "Roboto", serif;
}

h1{

  font-size: 9.6rem;
  letter-spacing: 30px;
}

h2{

  font-size: 4.8rem;
  font-family: "Lato", serif;
  font-weight: 250;
  text-align: end;
  letter-spacing: 2.7px;
  padding-bottom: 80px;
}

p{
  font-size: 2rem;
  font-weight: 400;

}

a{
text-decoration: none;
}

